#welcome-section{
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height:100vh;
    overflow:auto;
}
.container{
    color:#f0f0f0;
    text-align:center;
    margin-top:15%;
    padding:2%;
}
.container h1{
    font-size:4rem;
}
#projects{
    padding-right:0;
    padding-left:0;
    margin-left:0;
    margin-right:0;
    
}
#profile-link{
    text-align:center;
    margin:0 auto;
}
#innerprojects{
    background-color:#fff;
}
#innerprojects h1{
    text-align:center;
    color:#303841;
}
.row{
   
}
.col-md-4{
    padding:2% 0 2% 0;
}
.col-md-4 img{
    width:100%;
    
}
.col-sm-12{
    padding:2% 0 2% 0;
}
.col-sm-12 img{
    width:100%;
}
#imagecaption{
    width:100%;
    background-color:#303841;
    color:white;
    text-align:center;
    padding:2% 0 2% 0;
}
#outercontact{
    background-color:#303841;
    padding:2%;
}
#innercontact{
    background-color:#303841;
    color:#f0f0f0;
}
.col-sm{
    text-align:center;
}
nav{
    width:100%;
}